@{
Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Add Course</h2>

@using (Html.BeginForm())
{
@Html.HiddenFor(model => model.StudentId)

@Html.Label("Course")
@Html.DropDownList("CourseId")

<input type="submit", value="Add"/>
}

<p>@Html.ActionLink("Back to List", "Index")
