@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Add Flavor</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Treat Name")
  @Html.DropDownList("TreatId")
  <br />

  <input type="submit" value="Add Treat" />

  <p>@Html.ActionLink("Back to List", "Index", "Flavors", null, new { @class = "btn btn-light" })</p>
}